
MONGO_URI="mongodb://localhost:27017"
DB_NAME="event_dashboard"


#This token should be the token of an administrator of  all the repositories/organizations of all the students
#Also when creating this token we need to select 'admin:repo_hook' and also 'repo' to have full access to the commits stats
GITHUB_TOKEN = "EXAMPLE_TOKEN"
GITHUB_SIGNATURE_KEY="myGHS3cr3t!" #This is the secret key that we will use to verify the signature. I must be the same as the one in the webhook


#This token should be the token of an administrator of  all the repositories/organizations of all the students
TAIGA_TOKEN = "EXAMPLE_TOKEN"
TAIGA_SIGNATURE_KEY="asdqasfs" #This is the secret key that we will use to verify the signature. I must be the same as the one in the webhook
TAIGA_USERNAME="EXAMPLE"
TAIGA_PASSWORD="EXAMPLE"

WEBHOOK_URL_GITHUB="https://f2ab-83-40-78-160.ngrok-free.app/webhook/github"
WEBHOOK_URL_TAIGA="https://f2ab-83-40-78-160.ngrok-free.app/webhook/taiga"
