MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB=event_dashboard
MONGO_USER=
MONGO_PASS=
MONGO_AUTHSRC=


//#The github token should be the token of an administrator of  all the repositories/organizations of all the students
//Also when creating this token we need to select 'admin:repo_hook' and also 'repo' to have full access to the commits stats



#This is the secret key that we will use to verify the signature. I must be the same as the one in the webhook
GITHUB_SIGNATURE_KEY="myGHS3cr3t!" 



#This is the secret key that we will use to verify the signature. I must be the same as the one in the webhook
TAIGA_SIGNATURE_KEY="asdqasfs" 



